.home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-body {
    flex: 1;
}

.cars {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.cars-wrapper {
    flex: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 20px;
}


.cars-wrapper > * {
    padding-left: 10px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.footer {
    width: 100%;
    height: 60px;
    background: rgb(201, 209, 211);
}