.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(201, 209, 211);
}

.main-header-title-wrapper {
    padding:  0 10px 0 10px;
}

.main-header-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(75, 179, 49);
}

.main-header-title :hover {
    color: red;
}

.main-nav {
    display: flex;
}

.links-list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: black;
}

.link :hover {
    
    color: green;
}

.underline :hover {
    text-decoration: underline;
} 

